---

---

<h2 class="HomeH2">
	<slot />
</h2>

<style>
	.HomeH2 {
		display: block;
		inline-size: fit-content;
		margin-block: 0;
		margin-inline: auto;
		font-size: calc(32 / 16 * 1rem);
		border-block-end: 1px solid currentcolor;
	}
</style>
