---
import "@features/entry_profile/styles/base.css";

import Default from "@features/entry_profile/layouts/Default.astro";

import HomeHero from "@features/entry_profile/components/HomeHero.astro";
import HomeAbout from "@features/entry_profile/components/HomeAbout.astro";
import HomeBicycle from "@features/entry_profile/components/HomeBicycle.astro";
---

<Default isHome title="Profile" description="Profile">
	<div class="Home">
		<section class="_Hero">
			<HomeHero />
		</section>

		<section id="about" class="_About">
			<HomeAbout />
		</section>

		<section id="bicycle" class="_Bicycle">
			<HomeBicycle />
		</section>
	</div>
</Default>

<style>
	.Home {
		display: grid;
		grid-template:
			"hero"
			"." 80px
			"about"
			"." 100px
			"bicycle"
			/ 1fr;

		> :where(._Hero) {
			grid-area: hero;
		}

		> :where(._About) {
			grid-area: about;
		}

		> :where(._Bicycle) {
			grid-area: bicycle;
		}
	}
</style>
