---

---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>markup-sample</title>
	</head>
	<body>
		<h1>markup-sample</h1>
		<ul>
			<li>
				<a href="/01-entry_profile">Profile</a>
			</li>
			<li>
				<a href="/applied_lp">BBB英会話スクール</a>
			</li>
		</ul>
	</body>
</html>

<style>
	h1 {
		margin: 2rem;
		font-size: 2rem;
		font-weight: bold;
		color: red;
		text-align: center;
	}
</style>
