---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
	</body>
</html>

<style>
	h1 {
		color: red;
		font-size: 2rem;
		font-weight: bold;
		text-align: center;
		margin: 2rem;
	}
</style>

<script>
	const h1 = document.querySelector("h1");
	if (h1) {
		h1.textContent = "Hello World";
	}
</script>
