---
import "@styles/01-entry_profile/base.css";

import Default from "@layouts/01-entry_profile/Default.astro";

import HomeHero from "@components/01-entry_profile/HomeHero.astro";
import HomeAbout from "@components/01-entry_profile/HomeAbout.astro";
import HomeBicycle from "@components/01-entry_profile/HomeBicycle.astro";
---

<Default isHome title="Profile" description="Profile">
	<div class="Home">
		<section class="_Hero">
			<HomeHero />
		</section>

		<section id="about" class="_About">
			<HomeAbout />
		</section>

		<section id="bicycle" class="_Bicycle">
			<HomeBicycle />
		</section>
	</div>
</Default>

<style>
	.Home {
		display: grid;
		grid-template:
			"hero"
			"." 80px
			"about"
			"." 100px
			"bicycle"
			/ 1fr;

		> :where(._Hero) {
			grid-area: hero;
		}

		> :where(._About) {
			grid-area: about;
		}

		> :where(._Bicycle) {
			grid-area: bicycle;
		}
	}
</style>
