---
import "@styles/applied_lp/index.css";
import Header from "@components/applied_lp/Header.astro";
import Footer from "@components/applied_lp/Footer.astro";

const { isHome = false, title, description } = Astro.props;
---

<html lang="ja">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
	</head>
	<body class="Layout">
		<div class="_Header">
			<Header isHome={isHome} />
		</div>

		<main class="_Main">
			<slot />
		</main>

		<div class="_Footer">
			<Footer />
		</div>
	</body>
</html>

<style>
	.Layout {
		display: grid;
		grid-template:
			"header"
			"main" 1fr
			"footer"
			/ 1fr;
		min-block-size: 100svh;

		> :where(._Header) {
			grid-area: header;
		}

		> :where(._Main) {
			grid-area: main;
		}

		> :where(._Footer) {
			grid-area: footer;
		}
	}
</style>
